@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.light {
  --elements: hsl(0, 0%, 100%);
  --background: hsl(0, 0%, 98%);
  --text: hsl(200, 15%, 8%);
  --input: hsl(0, 0%, 52%);
}
.dark {
  --elements: hsl(209, 23%, 22%);
  --background: hsl(207, 26%, 17%);
  --text: hsl(0, 0%, 100%);
}

header{
  background-color: var(--elements);
  color: var(--text);
  display: flex;
  justify-content: space-between;

}

body{
    margin: 0;
    background-color: var(--background);
     color: var(--text);
    min-height: 100vh;
}

.content {
  display: flex;
  justify-content: center;
  width: 100%;
}

:focus-visible {
  outline: 3px dashed rgb(81, 190, 236);
  outline-offset: 4px;
}
